<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-row>
        <ion-col>
          Erro
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Página de Erro</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding">
    <h3>Oooops!!</h3>
    <p>Conteúdo não encontrado ou inexistente :(</p>
    <p><ion-button class="block primary" routerLink="../tab1">Voltar para o Inicio</ion-button></p>
  </div>
</ion-content>
