.cardE{
    /*position: relative;*/
    height:300px;
    width: 300px;
}

.card img{
    height: 200px;
    width: 270px;
    margin: 15px 0px 0px 15px;
    border-radius: 2% 2% 2% 2%;
}


.cardD{
    height:300px;
    width: 300px;
}

.card img{
    height: 200px;
    width: 270px;
    margin: 15px 0px 0px 15px;
    border-radius: 2% 2% 2% 2%;
}

#esqueda{
    float: left;
}
#direita{
    float: right;
}
/*@media only screen and (min-width: 600px){
    .cardD{
        position: absolute;
    }
}*/