<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Perfil</ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="block" *ngIf="afAuth.user | async as  user;">
      <h3 class="t">Olá {{user.displayName}}!</h3>
      
      <img class="ftPerfil" src="{{ user.photoURL }}" alt="">
    
      
      <!-- Mostra todos as infos <pre>{{user | json}}</pre> -->
   
  <p>{{ user.displayName}}</p>
  <p>{{ user.phoneNumber}}</p>
  <p>{{ user.email}}</p>

  <ion-button (click)="logout()">Sair</ion-button>
</div>
  </ion-content>
  

