<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Perfil</ion-title>
      </ion-toolbar>
    </ion-header>

    <h3 class="t">Olá Usuario</h3>

<div class="block" >

    <img class="ftPerfil" src="https://scontent-gig2-1.xx.fbcdn.net/v/t31.0-8/21167745_1554888971239184_6866179889860596417_o.jpg?_nc_cat=100&_nc_sid=09cbfe&_nc_eui2=AeFscXQbLZ5H1FSnHNKX1Z1I83MS0lsq1FfzcxLSWyrUV4U7KKyi8NnnDAu6vJNS57kPWj2ooL9A1V3tni0nX2N9&_nc_ohc=DuuyWl-OZGYAX83TZJF&_nc_ht=scontent-gig2-1.xx&oh=15a1d7c044393b012359e9a3eaf18dee&oe=5FAC61A6">

  </div>
<div class="block">
  <p>Nome completo</p>
  <p>(xx)XXXX-XXXXX</p>
  <p>emailUser@gmail.com</p>
</div>
  </ion-content>
  

