h3{
    margin-top: 20px;
}

.esp{
    margin: 50px;
}
.block {
    padding: 0 1rem;
    text-align: center;
}

.ftLogo{
    height:200px;
    width:200px;
    margin: 1rem;
    border-radius: 50%;
}

.text{
    font-size: 10px;
    text-align: left;
}
.textR{
    font-size: 10px;
    text-align: right;
}
