h3{
    margin-top: 20px;
}

.esp{
    margin: 50px;
}
.block {
    padding: 0 1rem;
    text-align: center;
}

.ftLogo{
    height:200px;
    width:200px;
    margin: 1rem;
    border-radius: 50%;
}

.text{
    font-size: 10px;
}

ion-button{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 7%, rgba(9,9,121,1) 51%, rgba(0,95,255,1) 100%);
}