
<ion-content>

  <div class="block">
  <h3>Bem Vindo</h3>
  
<img class="ftLogo" src="https://static.vecteezy.com/system/resources/previews/000/648/732/non_2x/beauty-salon-logo-design-inspiration-vector.jpg">
</div>
<div class="block">

  <!--<ion-button expand="block" class="text bt" > Conect-se com o Facebook</ion-button>-->

  <!-- Exibia dados do usuario-->
  
  <div *ngIf="afAuth.user | async as  user; else showLogin"></div>


<!--Exibir botão se não estiver Logado-->
  <ng-template #showLogin>
    <p>Logue-se</p>
    <p> <ion-button (click)="login()" expand="block" class="text bt" >Entrar com o Google</ion-button></p>
  </ng-template>


</div>
</ion-content>
